<% content_for :title, "Editing bookmark" %>

<h1>Editing bookmark</h1>

<%= render "form", bookmark: @bookmark %>

<br>

<div>
  <%= link_to "Back to bookmarks", user_bookmarks_path(Current.user.username) %>
</div>
